<h1>  Articles</h1>

<div class="articles">
	<% articles('India').items.each do |item|%>
	  <div class="article_items">
			<h3> <%= item.title %> </h3>
			<p>  <%= raw item.description%> </p>
			<p>  <%= item.pubDate%> </p>
		</div>
	<% end%>
</div>